ErrorDocument 404 https://stephanedion.dev/
Options -Indexes
DirectoryIndex index.html
FileETag None

<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|html)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    <FilesMatch "\.(js|css|html|png|ico)$">
        ExpiresDefault A2592000
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    Header unset ETag
    Header unset Pragma
    <FilesMatch "\.(html)$">
        Header set Content-Type "text/html; charset=UTF-8"
        Header set X-UA-Compatible "ie=edge"
    </FilesMatch>
    <FilesMatch "\.(js|css|html|png|ico)$">
        Header set Cache-Control "max-age=2592000"
        Header set Accept-Ranges "none"
    </FilesMatch>
    <FilesMatch "\.(webmanifest)$">
        Header set Content-Type "application/manifest+json; charset=UTF-8"
    </FilesMatch>
</IfModule>
